@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ttl-with-gray-bg {
    @apply flex h-[25px] w-[120px] items-center justify-center gap-[2px] rounded-md bg-[#00000008] px-2 py-1 text-sm text-[#00000099];
  }

  .save-changes-btn {
    @apply inline-flex h-10 items-center justify-center rounded-md border border-zinc-200 bg-green-600 px-4 py-2 text-sm font-medium text-white ring-offset-white transition-colors hover:bg-green-600/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }

  input[type="number"].plain-input::-webkit-inner-spin-button,
  input[type="number"].plain-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
